@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  font-family:  "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  background: #3cc4fa;
background: linear-gradient(90deg, rgba(60, 196, 250, 1) 0%, rgba(128, 249, 255, 1) 54%, rgba(255, 255, 255, 1) 100%);
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #ffffff79;
  color: #000000;
  text-align: center;
  padding: 1cap 1rem;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

header p {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #000000;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
  gap: 40px;
  padding: 10 20px;
}

main {
  flex: 3;
  background: #ffffff79;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.708);
}

aside {
  flex: 1;
  background: #ffffff79;
  color: #000000;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.708);
}

h2 {
    text-align: center;
  margin-top: 5px;
  color: #000000;
}

aside h2,
aside h3 {
  color: #000000;
}

main ul {
  list-style: none;
  padding: 0;
}

main ul li {
  margin-bottom: 8px;
}
main h2 {
  text-align: center;
  margin: 40px 0 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.427);
  text-align: center;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h3 {
  margin: 15px 0 5px;
}

.product-card p {
  padding: 0 15px 20px;
  color: #555;
}


footer {
  text-align: center;
  background: #111827;
  color: #d1d5db;
  padding: 1rem;
  margin-top: 40px;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  aside {
    order: -1; 
  }
}
